gradio==3.43.2
gradio_client
gradio[oauth]
pypinyin
tiktoken
socksio
tqdm
colorama
Pygments
markdown
pandas
commentjson
jinja2
langchain
langchain-community
langchain-openai
markdown
PyPDF2
pdfplumber
faiss-cpu
pydantic-core
pydantic
rank-bm25
jieba
loguru
openai
unstructured
google-cloud-aiplatform
google-auth